$primary: rgb(153, 193, 241);
$secondary: #0d6efd;
$light: rgb(197, 217, 241);
$link-color: #0d6efd;
$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: 0.75rem;
$card-border-color: $primary;
$dropdown-link-hover-bg: $light;