@import "variables_overrides.scss";

@import "../../../../../bootstrap/scss/bootstrap.scss";

header{
	z-index:1050 !important;
	overflow: visible;
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
}

#content h3{
	@extend .mt-5;
}

.alert-error{
	@extend .alert-danger;
}

ul.list-inline{
	display: inline;
	list-style-type: none;
}

ul.list-inline li{
	display: inline;
}

ul.list-inline li + li::before{
	content: " - ";
}

.height-2{
	height: 2em;
}

/* Formulaires */
form{
	@extend .mt-1;
	@extend .mb-1;
}

fieldset {
	@extend .border;
	@extend .border-secondary;
	@extend .p-3;
}

legend{
	@extend .float-none;
	@extend .px-2;
	@extend .w-auto;
}

form input[type=submit]{
	@extend .btn;
	@extend .btn-secondary;
}

form input[type=text], form input[type=file], form input[type=email], form input[type=password], form input[type=date], form textarea{
	@extend .form-control;
}

form select{
	@extend .form-select;
}

form label{
	@extend .form-label;
}

.helptext{
	display: block;
	font-size: 0.8em;
	font-style: italic;
}

.errorlist{
	color:red;
	font-weight: bold;
	list-style: none;
}

/* tableaux */
table{
	@extend .table;
	@extend .table-striped;
	@extend .table-hover;
	@extend .align-middle;
}

thead{
	top:4.5rem;
	@extend .sticky-top;
	@extend .bg-light;
}

/* camp */
.date{
	width: 6rem;
}

/* droits */
.droit-color-admin{
	@extend .text-danger;
}

.droit-color-contrib{
	@extend .text-warning;
}

.droit-tag{
	@extend .p-1;
	@extend .rounded ;
	@extend .text-white ;
	@extend .fs-6;
}

.droit-tag-admin{
	@extend .bg-danger;
}

.droit-tag-contrib{
	@extend .bg-warning;
}