{% extends "camplive/base.html" %}
{% load static %}

{% block separtitle %}{% endblock %}

{% block content %}
<div class = "mx-auto text-center">
<img src = "{% static 'camplive/css/img/erreur.jpg' %}" alt = "404" width = "75%"/>
<p class = "fs-2">
La page que vous avez demandée n'existe plus ou vous n'avez pas les autorisations nécessaires pour la consulter.
</p>
</div>
{% endblock %}