{% extends "camplive/base.html" %}
{% load static %}

{% block separtitle %}{% endblock %}

{% block content %}
<div class = "mx-auto text-center">
<img src = "{% static 'camplive/css/img/erreur.jpg' %}" alt = "404" width = "75%"/>
<p class = "fs-2">
Quelque chose s'est mal passé... Vous pouvez retenter votre action mais il est fort probable qu'elle aboutisse à cette même issue. Les administrateurs de CAMP live ont été prévenus du problème et tenteront de le résoudre dans les plus brefs délais.
</p>
</div>
{% endblock %}