{% extends "camplive/base.html" %}
{% load static %}

{% block separtitle %}{% endblock %}

{% block content %}
<div class = "mx-auto text-center">
<img src = "{% static 'camplive/css/img/logo.png' %}" alt = "logo" width = "75%"/>
<p class = "fs-2">
<span class = "fw-bold">CAMPlive</span> est un outil permettant une diffusion facilitée de messages et photos durant un camp. Les familles des participants peuvent ainsi à tout moment (et gratuitement) consulter les nouvelles du séjour ; elles ont même la possilibité de s'inscrire à une newsletter les avertissant d'une nouvelle publication.</p>
<p class = "fs-2">Si vous êtes une famille, vous devez disposer d'un lien fourni par l'organisateur du camp pour accéder aux messages et photos. Si vous êtes un organisateur, vous devez vous <a href="{% url 'login' %}">authentifier</a> via votre compte <a href = "https://galilee.eedf.fr">Galilée</a> afin d'utiliser ce service.</p>
</div>
<hr class = "border border-3 border-primary">

<h3>Fonctionnalités</h3>
<ul class = "fs-5">
<li>Publications de messages de longueur illimitée</li>
<li>Publications de photos par envois groupés (jusqu'à 100 par envoi)</li>
<li>Lien secret à partager aux personnes autorisées à consulter les publications (pas besoin de s'inscrire ou d'avoir un compte Galilée)</li>
<li>Envoi automatique d'une newsletter dans l'heure suivant la dernière publication</li>
<li>Inscription autonome des visiteurs à la newsletter (désactivation possible)</li>
<li>
Deux types de gestionnaire :
<ul>
<li>contributeur(trice) : peut publier/éditer/supprimer des messages, peut publier/supprimer des photos, peut télécharger une archive ZIP contenant tous les messages et photos</li>
<li>administrateur(trice) : détient les droits du rôle précédent + peut nommer/supprimer d'autres gestionnaires, modifier/supprimer la page, voir la liste des inscrits à la newsletter</li>
</ul>
</li>
</ul>
{% endblock %}