{% extends "camplive/base.html" %}
{% load static %}

{% block title %}{{camp.titre}}{% endblock %}

{% block content %}
<h1>{{camp.titre}}</h1>
<h3>Informations générales</h3>
<p>
<i class="bi bi-calendar-date-fill text-success"></i> <strong>Début du camp</strong> {{ camp.debut|date:"l d F Y" }}<br/>
<i class="bi bi-calendar-date-fill text-danger"></i> <strong>Fin du camp</strong> {{ camp.fin|date:"l d F Y" }}<br/>
<i class="bi bi-newspaper text-warning"></i> <strong>Auto-inscription à la newsletter</strong> {% if camp.autoinscription %}autorisée{% else %}interdite{% endif %}<br/>
<i class="bi bi-link-45deg"></i> <strong>Lien à partager aux familles</strong> <a href = "{{camp.get_absolute_url}}">{{request.scheme}}://{{ request.get_host }}{{camp.get_absolute_url}}</a>
</p>
<p>
{% if droitgestion == "admin" %}
<a role="button" class="btn btn-primary" href = "{% url 'modifier-camp' idcamp=camp.id %}"><i class="bi bi-gear"></i><span class = "d-md-inline d-none"> Paramétrer le camp</span></a>
{% endif %}
<a role = "button" class = "btn btn-primary" href = "{% url 'exportZIP' idcamp=camp.id %}"><i class="bi bi-download"></i><span class = "d-md-inline d-none"> Télécharger les publications</span></a>
</p>

<h3>Gestionnaires</h3>
<p>
{% for gestion in gestions %}
<div class = "d-inline-block"><i class="bi bi-person droit-color-{{gestion.droit}}"></i> {% if droitgestion == "admin" and gestion.user != request.user %}<a href = "{% url 'gestionModif' idgestion=gestion.id %}">{% endif %}{{gestion.user}}{% if droitgestion == "admin" and gestion.user != request.user %}</a>{% endif %} <span class = "droit-tag droit-tag-{{gestion.droit}}">{{gestion.get_droit_display|capfirst}}</span></div>
{% endfor %}
</p>
{% if droitgestion == "admin" %}
{% if gestionAjouts.exists %}
<div>
<strong>Invitations</strong> 
{% for gestionAjout in gestionAjouts %}
<div class = "d-inline-block"><i class="bi bi-person text-light"></i> {{gestionAjout.mail}} ({{gestionAjout.get_droit_display|capfirst}}) <a role="button" class="btn btn-primary" title="Renvoyer un message d'invitation" href = "{% url 'gestionAjoutRappel' idgestionajout=gestionAjout.id %}"><i class="bi bi-arrow-clockwise"></i></a></div>
{% endfor %}
</div>
{% endif %}
<p>
<a role="button" class="btn btn-success" href = "{% url 'gestionAjout' idcamp=camp.id %}"><i class="bi bi-person-add"></i> Ajouter un(e) gestionnaire</a>
</p>
{% endif %}

<h3>Abonné(e)s à la newsletter</h3>
{% if camp.last_newsletter %}<p>Dernière newsletter envoyée le {{camp.last_newsletter|date:'l d F Y à H:i'}}</p>{% endif %}
{% if abonnes.count > 0 %}

{% regroup abonnes by statut as statuts_list %}
{% for statut, abonnes_list in statuts_list %}
<div>
{% if statut == "confirm" %}
<strong>en attente de confirmation ({{abonnes_list|length}})</strong> 
{% else %}
<strong>abonné(e){{abonnes_list|length|pluralize}} ({{abonnes_list|length}})</strong>  
{% endif %}
{% if droitgestion == "admin" %}
{% for abonne in abonnes_list %}
<div class = "d-inline-block"><i class="bi bi-envelope-at {% if abonne.statut == "confirm" %}text-warning{% else %}text-success{% endif %}"></i> {{abonne.mail}}</div>
{% endfor %}
{% endif %}
<div>
{% endfor %}
{% else %}
<p>Pas d'abonné à la newsletter pour le moment</p>
{% endif %}

<h3>Messages publiés</h3>
<form class = "mt-3 mb-3 bg-warning-subtle p-3" method = "post" action = "{% url 'creer-message' idcamp=camp.id %}">
<h4>Ajouter un message</h4>
{% csrf_token %}
<p>{{ message_form.texte }}</p> <input class="btn btn-primary" type="submit" value="Poster le message">
</form>
{% if publi_messages.count > 0 %}
<table>
{% for mess in publi_messages %}
<tr>
<td>{{mess.created_time|date:"d/m H:i"}}</td>
<td>{{mess.created_by}}</td>
<td>
<p class = "m-0">{{mess.texte|truncatechars:45}}</p>
{% if mess.updated_by %}
<p class = "m-0 fs-6 text-primary">édité par {{mess.updated_by}} le {{mess.updated_time|date:"d/m à H:i"}}</p>
{% endif %}
</td>
<td class = "text-end">
<a role="button" class="btn btn-warning" href = "{% url 'modifier-message' idcamp=camp.id idmessage=mess.id %}"><i class="bi bi-pencil-fill"></i><span class = "d-md-inline d-none"> Éditer</span></a>
<div onclick = "confirmerSupp('Voulez-vous vraiment supprimer ce message ?', '{% url 'supprimer-message' idcamp=camp.id idmessage=mess.id %}')" role="button" class="btn btn-danger"><i class="bi bi-x-circle"></i><span class = "d-md-inline d-none"> Supprimer</span></div>
</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>Aucun message posté.</p>
{% endif %}
<h3>Photos postées</h3>
<form class = "mt-3 mb-3 bg-warning-subtle p-3" method = "post" enctype='multipart/form-data' action = "{% url 'creer-photo' idcamp=camp.id %}">
<h4>Ajouter des photos</h4>
{% csrf_token %}
<p>{{ photo_form.image }}</p> <input class="btn btn-primary" type="submit" value="Poster les photos">
</form>
{% if publi_photos.count > 0 %}
<table>
{% for photo in publi_photos %}
<tr>
<td>{{photo.updated_time|date:"d/m H:i"}}</td>
<td>{% if photo.updated_by %}{{photo.updated_by}}{% else %}{{photo.created_by}}{% endif %}</td>
<td style = "height:50px"><img class = "img-fluid img-thumbnail" src = "{{photo.miniature.url}}" style = "max-height:100px"/></td>
<td class = "text-end"><div onclick = 'confirmerSupp("Voulez-vous vraiment supprimer cette photo ?", "{% url 'supprimer-photo' idcamp=camp.id idphoto=photo.id %}")' role="button" class="btn btn-danger"><i class="bi bi-x-circle"></i><span class = "d-md-inline d-none"> Supprimer</span></div></td>
</tr>
{% endfor %}
</table>
{% else %}
<p>Aucune photo postée.</p>
{% endif %}
{% endblock %}
