{% load static socialaccount %}
<!DOCTYPE html>
<html lang="fr">
<head>
	<title>{% block title %}{% endblock %}{% block separtitle %} | {% endblock %}CAMPlive</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="Description" content="CAMPlive, des photos et des nouvelles des camps éclés"/>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
	<link rel="stylesheet" media="screen" type="text/css" title="Design" href="{% static 'camplive/css/style.css'%}" />
	<link rel="shortcut icon" href="{% static 'camplive/css/img/favicon.ico'%}" />
	<link rel="image_src" href="{% static 'camplive/css/img/logo.png'%}"/>
	<meta property="og:title" content="" />
	<meta property="og:image" content="{% static 'camplive/css/img/logo.png'%}" />
	<meta property="og:description" content="CAMPlive, des photos et des nouvelles des camps éclés" />
	{% block inclusionhead %}{% endblock %}
</head>

<body class="min-vh-100 d-flex flex-column justify-content-between">
<section class = "container-fluid p-0">
<header class="container-fluid bg-light bg-gradient shadow sticky-top">
{% if request.user.is_authenticated %}
<nav class="container navbar navbar-light navbar-expand-lg">
{% else %}
<nav class="container navbar navbar-light navbar-expand">
{% endif %}
<a class="navbar-brand" href="{% url 'index' %}" id="logo"><img src = "{% static 'camplive/css/img/logo.png' %}" alt = "logo" height = "75"/></a><p class = "mb-0 fw-bold d-md-inline d-none">Des nouvelles et des photos<br/>en direct des camps organisés par des éclés</p>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
<ul class="navbar-nav">
{% if request.user.is_authenticated %}
<li class="nav-item">
<a class="nav-link" role="button" href="{% url 'index' %}" >Mes camps</a>
</li>
{% if request.user.is_superuser %}
<a class="nav-link" role="button" href="{% url 'admin:index' %}" >Administration</a>
{% endif %}
<li class="nav-item">
<form class="m-0" method="post" action="{% url 'account_logout' %}">
{% csrf_token %}
<a class="nav-link" role="button" onclick="this.closest('form').submit();" href="#">Déconnexion</a>
</form>
</li>
{% else %}
<li class="nav-item">
<form class="m-0" method="post" action="{% provider_login_url "keycloak" process="login" %}">
{% csrf_token %}
<a class="nav-link" onclick="this.closest('form').submit();" href="#">Connexion</a>
</form>
</li>
{% endif %}
</ul>
</div>
</nav>
</header>

<section id="content" class="container mt-3">
{% if messages %}
<div>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"">{{ message }} <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
    {% endfor %}
</div>
{% endif %}

{% block content %}{% endblock %}

</section>
</section>

<footer class="bg-primary bg-gradient mt-3 py-4">
<div class="container">
© CAMPlive<br/>
Un service de <a href = "https://galilee.eedf.fr">Galilée</a> proposé pour les adhérent(e)s <a href = "https://www.eedf.fr">EEDF</a>.
</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript">
function confirmerSupp(message,lien){
	if (confirm(message)) {
		document.location.href=lien;
	}
}
</script>
</body>
</html>
