{% extends "camplive/base.html" %}
{% load static %}

{% block title %}{{camp.titre}}{% endblock %}

{% block inclusionhead %}
<link rel="stylesheet" href="{% static 'camplive/photoswipe/photoswipe.css' %}">
{% endblock %}

{% block content %}
<h1>{{camp.titre}}</h1>
<p><i class="bi bi-calendar-date-fill"></i> <strong>{{dates}}</strong></p>
{% if gestionnaire %}
<p><a role="button" class="btn btn-primary" href = {% url 'adminCamp' idcamp=camp.id %}><i class="bi bi-person-workspace"></i> Gérer la page</a></p>
{% endif %}
<p>{{camp.intro}}</p>

{% if camp.autoinscription %}
<div class = "mt-3 mb-3 bg-warning-subtle p-3">
<h4>Newsletter</h4>
<p>Inscrivez-vous à notre newsletter, et soyez informés dès la publication d'une nouvelle photo ou d'un nouveau message :</p>
<form method = "post" action = "{% url 'inscription-newsletter' idcamp=camp.id slug=camp.slug %}">
{% csrf_token %}
<p>{{newsform.mail}}</p>
<input class="btn btn-primary" type="submit" value="M'inscrire">
</form>
</div>
{% endif %}
{% if publi_messages.count == 0 and publi_photos.count == 0 %}
<p>
Ici, bientôt, vous trouverez des messages et des photos. En attendant, inscrivez-vous à la newsletter pour recevoir par mail des notifications lorsque des messages ou photos seront postés.
</p>
{% else %}
<script type="module">
import PhotoSwipeLightbox from '{% static 'camplive/photoswipe/photoswipe-lightbox.esm.js' %}';
const lightbox = new PhotoSwipeLightbox({
  gallery: '#gallery',
  children: 'a',
  pswpModule: () => import('{% static 'camplive/photoswipe/photoswipe.esm.js' %}')
});
lightbox.init();
</script>
<div class = "container" id = "gallery">
{% for date, contenu in publications.items %}
<div class = "row mb-3">
<div class = "col-md-2 col-4">
<div class = "text-center date">
<div class = "bg-primary fw-bold ps-2 pe-2 text-white rounded-top">{{date|date:"D"|upper}}</div>
<div class = "fs-1 fw-bold ps-2 pe-2 border-3 border-start border-end border-primary">{{date|date:"d"}}</div>
<div class = "bg-primary fw-bold ps-2 pe-2 text-white rounded-bottom">{{date|date:"M"|upper}}</div>
</div>
</div>
<div class = "col-md-10 col-8">
{% for publi in contenu %}
{% if publi.0 == 'message' %}
<div class="p-3 border-start border-3 border-primary mb-3">
{{publi.1.texte|linebreaks}}
<p class = "m-0 fs-6 text-primary">{{publi.1.created_time|date:"H:i"}}</p>
</div>
{% elif publi.0 == "photo" %}
<div class = "container ps-0 pe-0">
<div class = "row align-items-center" >
{% for photo in publi.1 %}
<figure class = "col-12 col-md-6 col-lg-3 mb-3">
<a href = "{{photo.image.url}}" data-pswp-width = "{{photo.image.width}}" data-pswp-height = "{{photo.image.height}}">
<img class = "img-fluid img-thumbnail" src = "{{photo.miniature.url}}" />
</a>
<figcaption class = "m-0 fs-6 text-primary text-start">{{photo.created_time|date:"H:i"}}</figcaption>
</figure>
{% endfor %}
</div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
{% endfor %}
</div>
{% endif %}
{% endblock %}