{% extends "camplive/base.html" %}
{% load static %}

{% block title %}{% if modif %}Modifier{% else %}Créer{% endif %} un camp{% endblock %}

{% block content %}
<h1>{% if modif %}Modifier{% else %}Créer{% endif %} un camp</h1>
<form method = "post">
{% csrf_token %}
{{ form.as_p }}
<input class="btn btn-primary" type="submit" value="{% if modif %}Modifier{% else %}Créer{% endif %} le camp">
{% if modif %} <div onclick = 'confirmerSupp("Voulez-vous vraiment supprimer le CAMPlive de ce camp ?", "{% url 'supprCamp' idcamp=form.instance.id %}")' role="button" class="btn btn-danger"><i class="bi bi-x-circle"></i> Supprimer le camp</div>{% endif %}
</form>
{% endblock %}