{% extends "camplive/base.html" %}
{% load static %}

{% block title %}Mes camps{% endblock %}

{% block content %}
<h1>Mes camps</h1>
<a role="button" class="btn btn-success" href = {% url 'creer-camp' %}>Créer un camp</a>
{% for cat in camps %}
{% if cat.list.exists %}
<h3>{% if cat.list.count > 1 %}{{ cat.labelp }}{% else %}{{ cat.labels }}{% endif %}</h3>
<table>
<thead>
<th>Dénomination du camp</th><th></th><th>Début</th><th>Fin</th>
</thead>
{% for camp in cat.list %}
<tr>
<td><a href = {% url 'adminCamp' idcamp=camp.id %}>{{camp.titre}}</a>{% if camp.gestion.exists %} <span class = "droit-tag droit-tag-{{camp.gestion.first.droit}}">{{camp.gestion.first.get_droit_display|capfirst}}</span>{% endif %}</td>
<td><i class="bi bi-chat-left-dots-fill"></i>&nbsp;{{camp.message_set.all.count}} <i class="bi bi-file-earmark-image-fill"></i>&nbsp;{{camp.photo_set.all.count}} <i class="bi bi-envelope-at-fill"></i>&nbsp;{{camp.abonnementnewsletter_set.all.count}}</td>
<td>{{camp.debut|date:"d F Y"}}</td>
<td>{{camp.fin|date:"d F Y"}}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endfor %}
{% endblock %}