{% extends "camplive/base.html" %}
{% load static %}

{% block title %}Droits du gestionnaires {{fgestion.user}}"{% endblock %}

{% block content %}
<h1>Droits du gestionnaires {{gestion.user}}</h1>
<form method = "post">
{% csrf_token %}
{{ form.as_p }}
<input class="btn btn-primary" type="submit" value="Modifier les droits"> <div onclick='confirmerSupp("Voulez-vous vraiment supprimer les droits de gestion à {{gestion.user}} ?", "{% url 'gestionSuppr' idgestion=gestion.id %}")' role="button" class="btn btn-danger"><i class="bi bi-x-circle"></i> Supprimer les droits de gestion à {{gestion.user}}</div>
</form>
{% endblock %}