{% extends "camplive/base.html" %}
{% load static %}

{% block title %}Inviter à la gestion de "{{camp}}"{% endblock %}

{% block content %}
<h1>Inviter à la gestion de "{{camp}}"</h1>
<p>Cette page vous permet d'inviter par message électronique une personne à devenir administrateur(trice) ou contributeur(trice) de votre page CAMP live.</p>
<p class = "text-warning"><strong><i class="bi bi-exclamation-triangle-fill"></i> Attention :</strong> Seuls les détenteurs d'un compte Galilée pourront valider l'invtation.</p>
<form method = "post">
{% csrf_token %}
{{ form.as_p }}
<input class="btn btn-primary" type="submit" value="Inviter">
</form>
{% endblock %}