{% extends "camplive/base.html" %}
{% load socialaccount %}

{% block title %}Connexion à Galilée{% endblock %}

{% block content %}
<h1>Connexion à Galilée</h1>
<p class = "fs-4">La gestion des pages <strong>CAMPlive</strong> nécessite l'authentification via un compte <a href="https://galilee.eedf.fr">Galilée</a>. Veuillez cliquer sur le bouton ci-dessous pour ce faire.</p>
<form class="text-center" method="post" action="{% provider_login_url "keycloak" process="login" %}">
{% csrf_token %}
<input role="button" class="fs-3 btn btn-primary" type="submit" value="Connexion via Galilée"/>
</form>
{% endblock %}