{% load static %}
<html>
<head>
<style>
body{margin: 0px}
header{background-color: rgb(197, 217, 241); padding: 10px;}
header p{font-weight: bold;}
section{padding: 10px;}
footer{background-color: rgb(153, 193, 241); height: 2em; padding: 10px;}
</style>
</head>
<body>
<header>
<img src = "{% static 'camplive/css/img/logo.png' %}" height = "50"/>
<p>Des nouvelles et des photos en direct des camps organisés par des éclés</p>
</header>
<section>
{{mail_html_content|linebreaks|urlize}}
</section>
<footer>
<a href = "https://{{ host }}">CAMPlive</a> - Un service de <a href = "https://galilee.eedf.fr">Galilée</a> proposé pour les adhérent(e)s <a href = "https://www.eedf.fr">EEDF</a>.
</footer>
</body>
</html>