{% extends "camplive/base.html" %}
{% load static %}

{% block title %}{% if modif %}Modifier{% else %}Créer{% endif %} un message{% endblock %}

{% block content %}
<h1>{% if modif %}Modifier{% else %}Créer{% endif %} un message</h1>
<form method = "post">
{% csrf_token %}
{{ form.as_p }}
<input class="btn btn-primary" type="submit" value="{% if modif %}Modifier{% else %}Publier{% endif %} le message">
</form>
{% endblock %}